.footer {
  position: sticky;
  z-index: -1;
  bottom: 0;

  &__img {
    display: none;

    @include onDesktop {
      display: block;
      width: 100%;
      object-fit: contain;
      margin-bottom: -6px;
    }

    &--tablet {
      display: block;
      width: 100%;
      object-fit: contain;
      margin-bottom: -6px;

      @include onDesktop {
        display: none;
      }
    }
  }
}
